<div id="<%= dom_id password_reset %>">
  <% if action_name != "show" %>
    <%= link_to "Show this password reset", password_reset, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this password reset', edit_password_reset_path(password_reset), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
