{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    email  seosamh@seocahill.com
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}
abairt.com {
    # Simple reverse proxy for everything
    reverse_proxy rails:3000

    # Add caching for static assets
    @static {
        path /assets/* /images/* /favicon.ico /robots.txt
    }
    header @static Cache-Control "public, max-age=31536000, immutable"
}
www.abairt.com {
    redir https://abairt.com{uri}
}