{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    email  seosamh@seocahill.com
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}
abairt.com {
    # respond "Abairt anseo"
    root * /var/www/site/current/public

    encode zstd gzip

    @notStatic {
        not file
    }

    reverse_proxy @notStatic rails:3000
}
www.abairt.com {
    redir https://abairt.com{uri}
}