version: '3.8'

services:
  web:
    image: caddy:alpine
    ports:
      - "80:80"
      - "443:443"
    configs:
      - source: caddyfile_v6
        target: /etc/caddy/Caddyfile
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      # - assets:/var/www/site/current/public

  rails:
    image: registry.gitlab.com/abairt/web-application:96e27d8dc855177a3afecc259c34e6be7537e9bb
    environment:
      REDIS_URL: redis://redis:6379
      RAILS_SERVE_STATIC_FILES: "true"
      RAILS_LOG_TO_STDOUT: "true"
      BUNDLE_PATH: "vendor/bundle"
      BUNDLE_WITHOUT: "development:test"
    secrets:
      - source: master_key
        target: /app/config/master.key
    volumes:
      - db:/app/db
      # - assets:/app/public
    command:
      - /bin/bash
      - -c
      - |
        bin/rails db:create db:migrate
        bin/rails s -p 3000 -b 0.0.0.0

  litestream:
    image: litestream/litestream
    deploy:
      replicas: 1
    secrets:
      - source: litestream_v5
        target: /etc/litestream.yml
    volumes:
      - db:/data
    entrypoint:
      - /bin/sh
      - -c
      - |
        litestream restore -if-replica-exists -v /data/production.sqlite3
        litestream replicate

  redis:
    image: redis:alpine

volumes:
  db:
  caddy_data:
  caddy_config:
  # assets:

configs:
  caddyfile_v6:
    file: ./Caddyfile

secrets:
  litestream_v5:
    file: ./litestream.yml
  master_key:
    file: ./config/master.key