<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <h1>Welcome to Abairt</h1>
    <p>Hello <%= @user.name %>,</p>
    <p>Thanks for signing up! Your account is currently being reviewed by an admin. You'll receive an email once your account has been approved.</p>
    <p>Thank you for your patience!</p>
  </body>
</html>
