<%= turbo_stream_from "dictionary_entries" %>
<div class="table w-full mt-10">
  <div class="table-header-group">
    <div class="table-row">
      <div class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><b>Focal nó abairt</b></div>
      <div data-target="rang.cell" class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><b>Aistriúchán</b></div>
      <div data-target="rang.cell" class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><b>Notaí</b></div>
      <div class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
        </svg>
      </div>
      <div data-target="rang.cell" class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></div>
      <div data-target="rang.cell" class="table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></div>
    </div>
  </div>
  <div id="current_user_dictionary_entries" class="table-row-group">
    <%= render partial: "ceist", collection: @ceisteanna %>
  </div>
</div>
<div class="container mx-auto px-6 py-8 h-full flex-grow">
  <div class="flex flex-col sm:flex-row sm:items-center mb-6">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
