<%# turbo  %>
<%= turbo_stream_from "rangs" %>

<!-- Sidebar for CRUD -->
<div class="w-full md:w-1/4 p-4"  data-controller="sidebar">
  <%= render "sidebar" %>
</div>
<!-- Primary Content Area: Two Rectangles -->
<div class="w-full md:w-3/4 p-4">
  <!-- Turbo Frame for Current Chat -->
  <turbo-frame id="current_rang" data-turbo-action="advance">
    <p>Select a chat to view messages.</p>
  </turbo-frame>
</div>


