<% @regions = @recording.dictionary_entries.map { |e| e.slice(:region_id, :region_start, :region_end, :word_or_phrase, :translation)}.to_json %>
<div class="">
  <%# player %>
  <div class="flex items-center space-x-4 p-4">
    <%= render partial: 'voice_recordings/waveform', locals: { recording:  @recording, regions: @regions } %>
  </div>
</div>