<%= turbo_stream.replace "diarization_button" do %>
  <button class="bg-gray-500 text-white font-bold py-2 px-4 rounded flex items-center space-x-2 cursor-not-allowed" disabled>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
    <span>Diarization In Progress</span>
  </button>
<% end %>