<div class="mx-auto md:w-2/3 w-full">
  <div class="max-w-sm rounded overflow-hidden shadow-lg p-4">

    <%= render "form", voice_recording: @voice_recording %>

    <%= link_to "Back", @voice_recording, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
