<%= turbo_frame_tag "recording_list_display" do %>
  <div id="map-container" data-controller="map" data-map-pins-value="<%= @pins.to_json %>" class="relative">
    <div id="map" class="h-[600px] md:min-h-[50%] lg:min-h-[75%]"></div>
    <%= link_to "Close", voice_recordings_path, class: "bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 absolute top-2 right-2", data: { turbo: false }, style: "z-index: 999;" %>
  </div>
<% end %>
