<h2 class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">Generated script</h2>
  <div class="flex flex-col space-y-4 p-5" data-controller="entry">
    <%= simple_format(word_list.script) %>
    <% if false %>
      <%= form_with(model: word_list) do |form| %>
        <%= render 'synth', form: form %>
      <% end %>
    <% end %>
  </div>