<div id="<%= dom_id word_list %>">
  <% if action_name != "show" %>
    <%= link_to "Show this word list", word_list, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this word list', edit_word_list_path(word_list), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
