<div class="w-full p-4">
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <%= render "profile" %>
    <%= render "contributions" %>
  </div>
</div>
