/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
  background: #E5E7EB;
  /* bg-gray-200 in Tailwind */
  height: 4px;
  border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #3B82F6;
  /* bg-blue-500 in Tailwind */
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
  /* To center align the thumb with the track */
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: #E5E7EB;
  /* bg-gray-200 in Tailwind */
  height: 4px;
}

input[type="range"]::-moz-range-progress {
  background: #3B82F6;
  /* bg-blue-500 in Tailwind */
  height: 4px;
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: #3B82F6;
  /* bg-blue-500 in Tailwind */
  border-radius: 50%;
  cursor: pointer;
}