<h1>An céad rang eile</h1>

<p>
  Tá an chéad rang eile ar súil ar an <%= @rang.next_time %>.
</p>
<p>
  Tá tú in ann é a athrú  <%= link_to("anseo", edit_rang_url(@rang)) %>, muna fónann sé duit.
</p>
