<% if flash.any? %>
  <div class="fixed top-0 left-0 z-50 flex justify-between w-full p-4 border-b border-yellow-200 bg-yellow-50 dark:bg-yellow-700 dark:border-yellow-600"  data-controller="flash-message">
    <div class="flex items-center mx-auto p-4">
      <% flash.each do |message_type, message| %>
        <p class="flex items-center font-bold text-lg text-gray-500 dark:text-gray-400">
          <%= message %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
