<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      h1 {
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 24px;
      }

      p {
        color: #666;
        font-family: Arial, sans-serif;
        font-size: 16px;
      }

      a {
        color: #0066cc;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
